---
const posts = await Astro.glob('../pages/posts/*.md');
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog.keisatoh.net</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>
      <a href="/">blog.keisatoh.net</a>
    </h1>
    <main>
      {
        posts.map((post) => (
          <article>
            <h2>
              <a href={post.url}>{post.frontmatter.title}</a>
            </h2>
            <p>{post.frontmatter.description}</p>
          </article>
        ))
      }
    </main>
  </body>
</html>
