---
const posts = await Astro.glob('../pages/posts/*.md');
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>blog.keisatoh.net</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <main>
      <h1>
        <a href="/">blog.keisatoh.net</a>
      </h1>
      <div>
        {
          posts.map((post) => (
            <article>
              <h2>
                <a href={post.url}>{post.frontmatter.title}</a>
              </h2>
              <p>{post.frontmatter.description}</p>
            </article>
          ))
        }
      </div>
    </main>
  </body>
</html>
