---
const posts = await Astro.glob('../pages/posts/*.md');
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog.keisatoh.net</title>
  </head>
  <body>
    <div class="container mx-auto max-w-4xl px-6">
      <header class="py-10">
        <h1 class="text-xl sm:text-3xl font-medium">
          <a href="/">blog.keisatoh.net</a>
        </h1>
      </header>
      <main class="py-10">
        {
          posts.map((post) => (
            <article class="[&:nth-child(n+2)]:mt-10">
              <time datetime={post.frontmatter.date}>
                {new Date(post.frontmatter.date).toLocaleDateString('ja-JP', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </time>
              <h2 class="text-xl sm:text-3xl mt-2 font-normal">
                <a href={post.url}>{post.frontmatter.title}</a>
              </h2>
              <p class="mt-3 text-slate-600 text-sm font-normal sm:text-lg">
                {post.frontmatter.description}
              </p>
            </article>
          ))
        }
      </main>
      <footer class="py-10">
        <div class="text-center">
          &copy; {new Date().getFullYear()} keisatoh
        </div>
      </footer>
    </div>
  </body>
</html>
