---
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import { getExcerpt } from '../utils';
import Layout from '../layouts/Layout.astro';

const posts = (await getCollection('posts')).sort(
  (a, b) =>
    new Date(b.data.date).valueOf() -
    new Date(a.data.date).valueOf()
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} ogImage="/og/index.png">
  <div class="prose mx-auto lg:prose-lg">
    <div class="not-prose">
      {
        posts.map((post) => (
          <article class="[&:nth-child(n+2)]:mt-10">
            <time datetime={post.data.date} class="text-gray text-sm">
              {new Date(post.data.date).toLocaleDateString('ja-JP', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </time>
            <h2 class="mt-1 text-xl font-normal text-black hover:text-indigo-700 sm:mt-2 sm:text-3xl">
              <a href={`/posts/${post.id.replace(/\.md$/, '')}/`}>{post.data.title}</a>
            </h2>
            <p class="text-gray mt-2 text-base font-light sm:mt-3 sm:text-lg">
              {post.data.dek || getExcerpt(post.body, 80)}
            </p>
          </article>
        ))
      }
    </div>
  </div>
</Layout>
